* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.header {
   background-color: #e5e7eb;
   font-size: 1rem;
   padding: 5px 0;
}

.header .container .bi {
   color: rgb(59, 182, 59);
   font-size: 1rem;
   padding-right: 5px;
}
.header .container .number {
   margin-right: 8px;
   font-size: 1rem;
   color: #000;
   font-weight: normal;
}
.header .container .mail {
   font-size: 1rem;
   color: #000;
   font-weight: normal;
}
.header .container .register a {
   text-decoration: none;
   color: #000;
   font-size: 1rem;
   font-weight: normal;
   padding-left: 8px;
}
.navbar {
   background-color: #0551ac !important;
}
.navbar .container .navbar-brand img {
   width: 100px;
}
.navbar .container .navbar-nav .nav-link {
   color: #fff;
   font-size: 1rem;
   font-weight: normal;
}
.navbar .container .navbar-nav .nav-link:hover {
   text-decoration: underline;
}
.navbar .container .navbar-toggler {
   box-shadow: none;
   outline: none;
   border: none;
}
.navbar .container .navbar-toggler .bi {
   color: #fff;
   font-size: 32px;
}
.section-header h6 {
   color: #6cc118;
   font-size: 1rem;
   font-weight: bold;
}
.section-header h2 {
   color: #6cc118;
   font-weight: bold;
   font-size: 1.875rem;
   line-height: 0.8;
}
/* main section  */
.courses-section {
   padding: 32px 0;
}
.courses-section .container {
   padding: 32px;
}

.courses-section .card .course-name {
   font-size: 1rem;
   color: #111;
}

.courses-section .card .date-time {
   display: flex;
   flex-direction: column;
}

.courses-section .card .date-time .date,
.time {
   color: #6b7280;
   font-size: 14px;
}
.courses-section .card .date-time .bi {
   color: #6cc118;
   padding-right: 6px;
}
.courses-section .card .card-footer .tk {
   color: #0551ac;
   font-size: 1rem;
   font-weight: 500;
}
.courses-section .card .card-footer .btn {
   background-color: #0551ac;
   color: #fff;
   font-size: 1rem;
}

/* about section  */
.about {
   background-color: #fafef1;
   padding: 48px 0;
}
.about .container {
   padding: 32px;
}
.about .about-img-section {
   width: 571px;
   height: 321px;
   border-radius: 5px;
}
.about .about-paragraph {
   color: rgb(31 41 55);
   font-size: 1rem;
   font-weight: 500;
   text-align: justify;
   letter-spacing: 0.4px;
   padding: 16px 0;
}
.about .know-more .btn {
   background-color: #6cc118;
   font-size: 1rem;
   color: #fff;
   border: 1px solid #6cc118;
   padding: 4px 20px;
}
.about .know-more .btn:hover {
   background-color: #5ea714;
}
/* footer section  */
.footer {
   background-color: #0551ac;
   padding-top: 32px;
   padding-bottom: 16px;
}
.footer .footer-logo {
   width: 144px;
   height: 108px;
   padding: 8px 12px;
}
.footer .footer-icon {
   width: 32px;
   height: 32px;
   border: 1px solid #fff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer .footer-icon a {
   text-decoration: none;
   color: #fff;
}
.footer .footer-icon:hover {
   background-color: #6cc118;
}
.footer .footer-heading {
   color: #fff;
   font-size: 1.25rem;
}
.footer .nav-item .nav-link {
   color: #fff;
   font-size: 1rem;
}
.footer .nav-item .nav-link:hover {
   color: #6cc118;
}
.footer .collaboration {
   margin-top: 16px;
   border-radius: 3px;
}
