* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.header {
   background-color: #e5e7eb;
   font-size: 1rem;
   padding: 5px 0;
}

.header .container .bi {
   color: rgb(59, 182, 59);
   font-size: 1rem;
   padding-right: 5px;
}
.header .container .number {
   margin-right: 8px;
   font-size: 1rem;
   color: #000;
   font-weight: normal;
}
.header .container .mail {
   font-size: 1rem;
   color: #000;
   font-weight: normal;
}
.header .container .register a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 8px;
}
